body {
  background-color: lightblue;
}
.card {
  background: white;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

img {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}